body {
    margin: 0;
    background-color: #2E3192;
  }
  
  #navbar {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
  }
  
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #navbar li {
    margin-bottom: 10px;
  }
  
  #navbar a {
    display: block;
    padding: 10px;
    background-color: #2E3192;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #navbar a:hover {
    background-color: #ffffff;
    color: #2E3192;
  }
  
  #content {
    margin-top: 200px;
    padding: 20px;
    color: #2E3192;
  }