body {
    margin: 0;
    background-color: #ffffff;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    height: 100%;
}

#left-section {
    flex: 1;
    padding: 80px;
    max-width: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

#navbar {
    flex-shrink: 0;
    margin-right: 2cm;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar li {
    margin-bottom: 10px;
}

#navbar a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-family: Body;
}

#navbar a:hover {
    background-color: #000000;
    color: #ffffff;
}

#main-content {
    flex-grow: 1;
}

h1, h2 {
    color: #000000;
    margin: 0;
    font-size: 48px;
    font-family: Header;
    margin-bottom: 20px;
}

p {
    color: #000000;
    font-size: 13px;
    line-height: 1.5;
    font-family: Body;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

@font-face {
    font-family: Header;
    src: url(ArbutusSlab-Regular.ttf);
}

@font-face {
    font-family: Body;
    src: url(Roboto-Light.ttf);
}

#wistia-container {
    width: 100%;
    height: auto;
    position: relative;
}

wistia-player {
    width: 100%;
    display: block;
}

@media (min-width: 1920px) {
    #container {
        max-width: 75%;
        padding: 60px; /* Adjusting padding specifically for container */
    }

    #main-content {
        font-size: 56px;
        padding: 0;
    }

    p {
        font-size: 14px;
    }
}

/* For medium screens, like a 13-inch MacBook (1280px width) */
@media (max-width: 1280px) {
    #container {
        max-width: 85%;
        padding: 40px; /* Moderate padding to fit 13-inch screens */
    }

    #main-content {
        font-size: 42px;
    }

    p {
        font-size: 13px;
    }
}

/* For iPad screens (768px width) */
@media (max-width: 768px) {
    #container {
        max-width: 90%;
        padding: 20px;
    }

    #main-content {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }
}

/* For smaller screens, like phones (480px width) */
@media (max-width: 480px) {
    #container {
        max-width: 95%;
        padding: 10px;
    }

    #main-content {
        font-size: 28px;
    }

    p {
        font-size: 11px;
    }
}