body {
    margin: 0;
    background-color: #EC008C;
    position: relative;
  }
  
  #container {
    display: flex;
  }
  
  #left-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  #header {
    display: flex;
    align-items: flex-start;
  }
  
  #navbar {
    margin-right: 2cm;
  }
  
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #navbar li {
    margin-bottom: 10px;
  }
  
  #navbar a {
    display: block;
    padding: 10px;
    background-color: #EC008C;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Body;
  }
  
  #navbar a:hover {
    background-color: #ffffff;
    color: #EC008C;
  }
  
  #content {
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  h1, h2 {
    color: #ffffff;
    margin: 0;
    font-size: 48px;
    font-family: Header;
  }
  
  p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-family: Body;
  }
  
  #right-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #scroll-content {
    max-width: 100%;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 150px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #vertical-line {
    position: fixed;
    top: 0;
    right: 0;
    width: 1cm;
    height: 100vh;
    background-color: #EC008C;
    z-index: 0;
  }
  
  #arrow {
    position: absolute;
    bottom: 20px;
    right: 0.4cm;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #ffffff;
  }
  #scroll-content img {
    display: block;
    margin: 20px auto;
    max-width: 700px;
    height: auto;
  }
  
  @font-face {
    font-family: Header;
    src: url(ArbutusSlab-Regular.ttf);
  }
  
  @font-face {
    font-family: Body;
    src: url(Roboto-Light.ttf);
  }
  
  @media screen and (max-width: 768px) {
    #left-section, #right-section {
      padding: 40px;
    }
  
    #scroll-content {
      margin-bottom: 200px;
    }
  
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  
    #scroll-content {
      max-width: 100%;
    }
  
    #scroll-content img {
      display: block;
      margin: 20px auto;
      width: 100%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    #scroll-content {
      margin-bottom: 250px;
    }
  }
  
  #home-logo {
    width: 60px;
    height: auto;
    vertical-align: left;
  }

  .color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 768px) {
    #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
      width: 15vw;
      height: 15vw;
    }
  }
  
  @media screen and (max-width: 480px) {
    #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
      width: 20vw;
      height: 20vw;
    }
  }
  
  #circle1 {
    background-color: #8eec00;
  }
  
  #circle2 {
    background-color: #ec008c;
    border: 3px solid #ffffff;
  }
  
  #circle3 {
    background-color: #ec0018;
  }

  #circle4 {
    background-color: #d400ec;
  }

  #circle5 {
    background-color: #18ec00;
  }

  #circle6 {
    background-color: #ece000;
  }

  #circle7 {
    background-color: #00ecc1;
  }

  #circle8 {
    background-color: #eca500;
  }