body {
  margin: 0;
  overflow: hidden;
}

#sketch-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 2;
  pointer-events: none;
}

#navbar {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  margin-bottom: 10px;
  position: relative;
}

#navbar a {
  display: block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  font-family: Body;
}

#navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  z-index: -1;
}

#navbar a:hover {
  color: #ffffff;
}

#navbar a:hover::before {
  opacity: 1;
}

@font-face {
  font-family: Header;
  src: url(AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: Body;
  src: url(Roboto-Light.ttf);
}

#home-logo {
  width: 60px;
  height: auto;
  vertical-align: left;
}

/* For large screens, like a 24-inch iMac */
@media (min-width: 1920px) {
  #left-section {
      padding: 60px;
      max-width: 75%;
  }

  h1, h2 {
      font-size: 56px;
  }

  p {
      font-size: 14px;
  }

  #navbar {
      margin-right: 2.5cm;
  }

  #wistia-container {
      max-width: 100%;
  }
}

/* For medium screens, like a 13-inch MacBook (1280px width) */
@media (max-width: 1280px) {
  #left-section {
      padding: 40px;
      max-width: 85%;
  }

  h1, h2 {
      font-size: 42px;
  }

  p {
      font-size: 13px;
  }

  #navbar {
      margin-right: 1.5cm;
  }
}

/* For iPad screens (768px width) */
@media (max-width: 768px) {
  #left-section {
      padding: 20px;
      max-width: 90%;
  }

  h1, h2 {
      font-size: 36px;
  }

  p {
      font-size: 12px;
  }

  #navbar {
      margin-right: 1cm;
  }
}

/* For smaller screens, like phones (375px width) */
@media (max-width: 480px) {
  #left-section {
      padding: 10px;
      max-width: 95%;
  }

  h1, h2 {
      font-size: 28px;
  }

  p {
      font-size: 11px;
  }

  #navbar {
      margin-right: 0.5cm;
  }

  /* Stack the navbar items vertically */
  #navbar ul {
      display: flex;
      flex-direction: column;
  }
}