body {
    margin: 0;
    background-color: #7F00FF;
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  #container {
    display: flex;
    height: 100%;
  }
  
  #left-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  #header {
    display: flex;
    align-items: flex-start;
  }
  
  #navbar {
    margin-right: 2cm;
  }
  
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #navbar li {
    margin-bottom: 10px;
  }
  
  #navbar a {
    display: block;
    padding: 10px;
    background-color: #7F00FF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Body;
  }
  
  #navbar a:hover {
    background-color: #ffffff;
    color: #7F00FF;
  }
  
  #content {
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  h1, h2 {
    color: #ffffff;
    margin: 0;
    font-size: 48px;
    font-family: Header;
  }
  
  p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-family: Body;
  }
  
  #right-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 100vh;
  }
  
  #scroll-content {
    max-width: 100%;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #vertical-line {
    position: fixed;
    top: 0;
    right: 0;
    width: 1cm;
    height: 100vh;
    background-color: #7F00FF;
    z-index: 0;
  }
  
  #arrow {
    position: absolute;
    bottom: 20px;
    right: 0.4cm;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #ffffff;
  }
  #scroll-content img {
    display: block;
    margin: 20px auto;
    max-width: 700px;
    height: auto;
  }

  @font-face {
    font-family: Header;
    src: url(AbrilFatface-Regular.ttf);
  }
  
  @font-face {
    font-family: Body;
    src: url(Roboto-Light.ttf);
  }
  